
:root {
  --background-color: #f5f5f5;
  --text-color: #212121;
  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #188ce8;
  --header-bg-color: #ffffff;
  --foter-bg-color: #2f303a;
  --footer-text-color: #ffffff;
  --color-blue: #2196f3;
  --foter-bg-color: #2f303a;
  --footer-text-color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 300;
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
button:hover {
  background-color: var(--button-hover-bg-color);
}
header {
  background-color: var(--header-bg-color);
}
footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}
span {
  color: var(--color-blue);
}
.hero {
  color: var(--header-bg-color);
}
.hero {
  background-color: var(--foter-bg-color);
}
footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}

footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}
.hero {
  color: var(--color-blue);
}
h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container {
  width:  1200px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom:  16px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}
 ul {
  display: flex;
  justify-content: center;
  width: 95%;
  list-style: none;
}
.header-li {
  width: 130px;
  
}

.hero-content  {
 display: flex;
  color: #ffffff;
 margin-left: 380px;
 flex-direction: column;
align-items: center;

height: 150px;
margin-top: 150px
}
.section-img-div {
 
margin-left: 200px;
margin-bottom: 100px;

}
.section-img-h2 {
  display: flex;
  justify-content: center;
  

}
.div-footer {
  display: flex;
  flex-direction: column;
}
.section-it-div {
 display: flex;

justify-content: center;
align-items: center;
width: 1170px;
}
.item {
  display: flex;
 
  justify-content: center;
  align-items: center;
width: 1170px;
}
.section-it-p {
    
   justify-content: center;
   align-items: center;
}
.section-zero-div {
  display: flex;
  width: 1200px;
  justify-content: center;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   flex-basis: calc((100% - 20px) / 3);
   
}
.section-one-div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  order:-1 ;
}
.section-one-div:nth-child(4) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: -1;
}
 .section-one-div:nth-child(7) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: -1;
}
.section-one-div {
  margin: 50px;
}
.section-main-li {
   display: flex;
   flex-direction: column;
   margin: 10px;
  padding-top: 80px;      
}
.section-main-li::before {
  display: flex;
  content: "";
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
   margin-left: 80px;
}
.section-main-li:nth-child(1)::before {
 background-image: url(/img/antenna\ 1.jpg);
  
}
.section-main-li:nth-child(2)::before {
  background-image: url(/img/clock\ 1.jpg);
}

.section-main-li:nth-child(3)::before {
  background-image: url(/img/diagram\ 1.jpg);
}

.section-main-li:nth-child(4)::before {
  background-image: url(/img/astronaut\ 1.jpg);
}




 

