
:root {
  --background-color: #f5f5f5;
  --text-color: #212121;
  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #188ce8;
  --header-bg-color: #ffffff;
  --foter-bg-color: #2f303a;
  --footer-text-color: #ffffff;
  --color-blue: #2196f3;
  --foter-bg-color: #2f303a;
  --footer-text-color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 300;
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
button:hover {
  background-color: var(--button-hover-bg-color);
}
header {
  background-color: var(--header-bg-color);
}
footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}
span {
  color: var(--color-blue);
}
.hero {
  color: var(--header-bg-color);
}
.hero {
  background-color: var(--foter-bg-color);
}
footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}

footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}
.hero {
  color: var(--color-blue);
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
  url(../img/img16.jpg);
  height: 600px;
}
.button-hero {
  border-radius: 10px;
}
.hero-h2 {
  font-size: 40px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container {
  width:  1200px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom:  16px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}
 ul {
  display: flex;
 
  list-style: none;
  align-items: center;
margin-top: 30px;
}
.svg-header {
  width: 18px;
  height: 18px;
   
}
.svg-header:hover {
fill: var(--color-blue);
}

.header-li {
 display: flex;
  margin-left: 20px;

  height: 20px;  

}
.envelope {
  display: flex;
  margin-right: 20px;
  
   
   fill:#757575 ;
}
.envelope:hover {
fill: var(--color-blue);
}
.header-twitter{
display: flex;
 
  fill:#757575 ;
}
.header-twitter:hover{
  fill: var(--color-blue);
}
.fone {
  margin-left: 5px;
    color: #757575;
}
.twiter {
  
  
  width: 18px;
  height: 18px;
}


.div-header{
 height: 1px;
 margin-top: 40px;
  width: 1200px;
  display: flex;
  justify-content: end;
 align-items: center;
}
a {
  color: var(--text-color);
  text-decoration: none;
 font-size: 16px;
font-weight: bold;
}
a:hover {
  color: var(--color-blue);
}


.hero-content  {
 display: flex;
  color: #ffffff;
  height: 250px;

 flex-direction: column;
align-items: center;

width: 1200px;
margin-top: 150px
}
.section-img-div {
 
margin-left: 200px;
margin-bottom: 100px;

}
.section-img-h2 {
  display: flex;
  justify-content: center;
  

}
.div-footer {
  display: flex;
  flex-direction: column;
}
.section-it-div {
 display: flex;

justify-content: center;
align-items: center;
width: 1170px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
width: 1170px;
gap: 20px;
}
.item-div {
  box-shadow:  3px 2px 12px 1px
}
.section-it-p {
    
   justify-content: center;
   align-items: center;
}
.section-zero-div {
  display: flex;
  width: 1200px;
  justify-content: center;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   flex-basis: calc((100% - 20px) / 3);
}
.section-one-div {
   box-shadow:  3px 2px 12px 1px
}
.section-one-div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  order:  1;
}
.section-one-div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
 .section-one-div:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div:nth-child(4) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}
.section-one-div:nth-child(5) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
.section-one-div:nth-child(6) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div:nth-child(7) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}
.section-one-div:nth-child(8) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
.section-one-div:nth-child(9) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div {
  margin: 50px;
}
.section-main-li {
   display: flex;
   flex-direction: column;
   margin: 10px;
  padding-top: 80px;      
}
.section-main-li::before {
  display: flex;
  content: "";
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
   margin-left: 80px;
}
.section-main-li:nth-child(1)::before {
 background-image: url(../img/antenna1.jpg);
  
}
.section-main-li:nth-child(2)::before {
  background-image: url(../img/clock1.jpg);
}

.section-main-li:nth-child(3)::before {
  background-image: url(../img/diagram1.jpg);
}

.section-main-li:nth-child(4)::before {
  background-image: url(../img/astronaut1.jpg);
}

.svg-comand {
  height: 22px;
  width: 22px;
}
.cirkle {
   display: flex;
    justify-content: center;
    align-items: center;
 fill: #afb1b8;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.cirkle:hover {
  fill: var(--header-bg-color);
  background-color: var(--button-bg-color);
}
.comand-circle {
    display: flex;
}
.h2-client {
font-size: 26px;
}
.client-div {

  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-svg {
display: flex;
  justify-content: center;
  

 

} 
.client-colum {
  padding: 80px;
    margin: 0 auto;
    width: 1200px;
   
}
.svg-clent {
  margin: 5px;
height: 80px;
 border: solid 2px #afb1b8;
 fill: #afb1b8;

border-radius: 5px;

}
.svg-clent:hover {
  fill: #2196F3;
  border: 2px solid #2196F3 ;
}
.svg-footer-img {

  width: 20px;
  height: 20px;
  margin: 10px;
  fill: #ffffff;
}
.footer-svg {
    
   width: 250px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: 40px;
}

.svg-back {
  background-color: #ffffff11;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 7px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-back:hover {
  background-color:#2196F3 ;
}
.footer-p-svg {
 margin-left: 10px;
  height: 10px;
}
.div-footer-svg {
 
 

  display: flex;
}
.footer-one-p {
  color:#ffffff77 ;
  margin: 6px;
}
.footer-one-h4 {
  margin: 4px;
}